@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-x-hidden;
}
h2 {
    @apply text-2xl md:text-4xl text-dark md:font-semibold text-center mb-3 font-bold uppercase;
}

.drop-shadow {
    box-shadow: -11px -18px 28px -6px rgba(10, 34, 57, 0.6);
}

.sponsor-shadow {
    box-shadow: 0px 6px 71px 0px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 6px 71px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 6px 71px 0px rgba(0, 0, 0, 0.85);
}

.ham-height {
    height: calc(100vh - 26vh);
}

.news-height {
    min-height: calc(100vh - 36vh);
}

.sponsorBcg {
    background: rgb(10, 34, 57);
    background: linear-gradient(
        90deg,
        rgba(10, 34, 57, 0.15) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(10, 34, 57, 0.15) 100%
    );
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}
.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    color: #0e0e0c;
    border: 1px solid #0a2239;
    border-radius: 4px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active a {
    background-color: #4392f1;
    color: #fff;
}

.pagination .disabled a {
    pointer-events: none;
    color: #ccc;
    background-color: #f0f0f0;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}

@layer components {
    @media (min-width: 768px) {
        .bg-hero {
            width: 1000px;
            height: 300px;
            left: 30%;
            @apply absolute rounded-l-full -z-10 md:top-20  lg:top-[50%]  bg-lightBlue;
        }
        .bg-tabs {
            width: 1000px;
            height: 300px;
            right: 60%;
            @apply absolute rounded-r-full top-32  bg-lightBlue;
        }
        .bg-paw {
            top: 10%;
            right: 10%;
            position: absolute;
        }
    }
}
